    /***************************** FUENTES *****************************/
    
    @font-face {
        /*Letra gótica - encabezados*/
        font-family: 'Black Letter';
        src: url(../fonts/Black\ Letter.ttf) format('truetype');
    }
    
    @font-face {
        /*Letra gótica - pie de página*/
        font-family: 'Des Malers';
        src: url(../fonts/Des\ Malers\ Fraktur.ttf) format('truetype');
    }
    
    @font-face {
        /*Letra mayúscula currada - h2*/
        font-family: 'Goudy';
        src: url(../fonts/Goudy\ Mediaeval\ DemiBold.ttf) format('truetype');
    }
    
    @font-face {
        /*Letra handwriting - texto*/
        font-family: 'Oro';
        src: url(../fonts/Black\ Sam_s\ Gold.ttf) format('truetype');
    }
    
    @font-face {
        /*Letra rollo pluma - ejemplos*/
        font-family: 'Kaligraf';
        src: url(../fonts/Kaligraf\ Latin.ttf) format('truetype');
    }
    
    @counter-style pent {
        system: cyclic;
        symbols: \26E7;
        /*utf8 code for "pentagram" "⛧" */
        suffix: " ";
    }
    
     :root {
        --rojo: #892520;
        --blanco: #fff;
        /* --blanco: #e9e7c9; */
        --negro: #000000;
        --azul: #343f59;
        --dorado: #d8be52;
        --marron: #6e402a;
    }
    /***************************** ETIQUETAS *****************************/
    
    * {
        box-sizing: border-box;
        color: var(--negro);
        margin: 0px;
        padding: 0px;
        scroll-behavior: smooth;
    }
    
    html {
        height: 100%;
        background-size: cover;
        background-image: url("../img/fondobn.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    body {
        height: 100%;
    }
    
    article {
        padding: 0px 40px 40px 40px;
        background-color: var(--blanco);
        padding-top: 50px;
    }
    
    article h1 {
        font-family: 'Black Letter';
        font-size: 2.5em;
        text-align: center;
        border-bottom: 2px solid var(--rojo);
        margin-bottom: 50px;
    }
    
    article h2 {
        font-family: 'Goudy';
        color: var(--rojo);
    }
    
    article p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    
    .landing,
    .ficha {
        width: 60%;
        margin: 0 auto;
    }
    
    .comentario {
        font-family: 'Kaligraf';
        font-size: 2em;
        text-align: center;
        margin-bottom: 50px;
    }
    
    p {
        font-family: 'Kaligraf';
        font-size: 1.9em;
        text-align: center;
    }
    /* p {
        clear: left;
        opacity: 0.85;
        color: #213;
    } */
    /* p:first-letter {
        font-family: 'Black Letter';
        float: left;
        font-size: 340%;
        margin-right: 0.05em;
        color: #602025;
        text-shadow: 3px 3px 2px #200040;
    } */
    
    .monje img {
        height: 700px;
        float: left;
    }
    
    .contenedor {
        text-align: center;
        /* height: 100%; */
        /* height: calc(100% - 152px); */
    }
    
    .contenedor h1 {
        padding-top: 15px;
        font-size: 4em;
        font-family: 'Black Letter';
    }
    
    .lista {
        list-style: pent;
    }
    
    .ficha {
        margin-top: 30px;
    }
    
    .ficha h2 {
        font-family: 'Black Letter';
        font-size: 2.5em;
        text-align: center;
        border-bottom: 2px solid var(--rojo);
        margin-bottom: 50px;
    }
    
    .ficha p,
    .ficha div p {
        /* text-align: left; */
        font-family: 'Goudy';
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    .ficha span {
        color: var(--rojo);
        font-family: 'Goudy';
    }
    
    .ficha a {
        color: var(--rojo);
        font-family: 'Goudy';
        font-size: 2em;
    }
    
    .descripcion,
    .familiar,
    .caracteristicas,
    .armas,
    .competencias,
    .rasgos,
    .otros {
        margin-bottom: 30px;
    }
    
    .familiar {
        margin: 0 auto;
        width: 60%;
    }
    
    .descripcion,
    .caracteristicas,
    .competencias,
    .armas {
        display: flex;
        justify-content: center;
    }
    
    .car_primarias,
    .armas1,
    .ficha1,
    .competencias1 {
        margin-right: 50px;
    }
    
    .car_secundarias,
    .armas2,
    .ficha2,
    .competencias2 {
        margin-left: 50px;
    }
    
    .guard {
        margin-bottom: 20px;
    }
    
    .guard a button {
        margin: 15px;
    }
    
    .donacion {
        margin: 40px;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    }
    
    .vacio {
        height: 65px;
    }
    
    .vacio2 {
        height: 265px;
    }
    
    .vacio3 {
        margin-bottom: 10vh;
    }
    
    .vacio4 {
        height: 250px;
    }
    
    .dados {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    
    .d4,
    .d6,
    .d8,
    .d10,
    .d100 {
        margin: 5px;
        height: 100px;
        width: 100px;
        border: 4px solid var(--rojo);
        border-radius: 10px;
        cursor: pointer;
    }
    
    .dados div {
        -webkit-transition: 1s linear;
        transition: 0.5s ease;
    }
    
    .dados div:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    
    .d4 {
        background-image: url("../img/d4.png");
    }
    
    .d6 {
        background-image: url("../img/d6.png");
    }
    
    .d8 {
        background-image: url("../img/d8.png");
    }
    
    .d10 {
        background-image: url("../img/d10.png");
    }
    
    .d100 {
        background-image: url("../img/d100.png");
    }
    
    .roll {
        padding: 1em;
    }
    
    .result {
        height: 100px;
        width: 100px;
        margin: 20px auto;
        background-color: var(--blanco);
        border: 4px solid var(--rojo);
        border-radius: 10px;
        font-size: 4em;
        line-height: 100px;
        text-align: center;
        font-family: 'Goudy';
    }
    
    #display {
        color: var(--negro);
    }
    /* tablas */
    
    .tabla {
        max-width: 1000px;
        margin: 0px auto;
    }
    
    input[type=text] {
        border-collapse: collapse;
        text-align: center;
        border: 0px;
        font-size: 1em;
        font-family: 'Goudy';
        background: none;
        color: var(--negro);
        pointer-events: none;
    }
    
    table {
        margin-top: 10px;
        table-layout: auto;
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        border: 0px;
        font-size: 2em;
        font-family: 'Goudy';
    }
    
    table tr:nth-child(odd) {
        background-color: var(--rojo);
    }
    
    tr:nth-child(odd) td input[type=text],
    table tr:nth-child(odd) td {
        color: var(--blanco);
    }
    
    th {
        background-color: var(--negro);
        color: var(--blanco);
        width: 500px;
    }
    /* th:first-of-type {
        width: 300px;
        background-color: aqua;
    } */
    
    td {
        padding: 2px;
    }
    
    .bot {
        width: 100px;
    }
    
    .bot button {
        cursor: pointer;
    }
    
    .total {
        color: var(--blanco);
    }
    
    .tot {
        color: var(--negro);
    }
    /* Navbar section */
    
    .nav {
        z-index: 5;
        width: 100%;
        height: 65px;
        position: fixed;
        line-height: 65px;
        text-align: center;
    }
    
    .nav div.logo {
        float: left;
        width: auto;
        height: auto;
        padding-left: 3rem;
    }
    
    .nav div.logo a {
        font-family: 'Goudy';
        text-decoration: none;
        color: #fff;
        font-size: 3rem;
    }
    
    .nav div.logo a:hover {
        color: var(--dorado);
    }
    
    .nav div.main_list {
        height: 65px;
        float: right;
    }
    
    .nav div.main_list ul {
        width: 100%;
        height: 65px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .nav div.main_list ul li {
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 3rem;
    }
    
    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-family: 'Goudy';
        font-size: 2.4rem;
    }
    
    .nav div.main_list ul li a:hover {
        color: var(--dorado);
    }
    /* Home section */
    
    .home {
        width: 100%;
        height: 100vh;
        background-image: url("../img/aqgoya.jpg");
        /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/21/PAUL_DELAROCHE_-_Ejecuci%C3%B3n_de_Lady_Jane_Grey_%28National_Gallery_de_Londres%2C_1834%29FXD.jpg); */
        background-position: center top;
        background-size: cover;
    }
    
    .navTrigger {
        display: none;
    }
    
    .nav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    /* Animation */
    
    .navTrigger {
        cursor: pointer;
        width: 30px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 30px;
        top: 0;
        bottom: 0;
    }
    
    .navTrigger i {
        background-color: var(--blanco);
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
    }
    
    .navTrigger i:nth-child(1) {
        -webkit-animation: outT 0.8s backwards;
        animation: outT 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
    
    .navTrigger i:nth-child(2) {
        margin: 5px 0;
        -webkit-animation: outM 0.8s backwards;
        animation: outM 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
    
    .navTrigger i:nth-child(3) {
        -webkit-animation: outBtm 0.8s backwards;
        animation: outBtm 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
    
    .navTrigger.active i:nth-child(1) {
        -webkit-animation: inT 0.8s forwards;
        animation: inT 0.8s forwards;
    }
    
    .navTrigger.active i:nth-child(2) {
        -webkit-animation: inM 0.8s forwards;
        animation: inM 0.8s forwards;
    }
    
    .navTrigger.active i:nth-child(3) {
        -webkit-animation: inBtm 0.8s forwards;
        animation: inBtm 0.8s forwards;
    }
    
    @-webkit-keyframes inM {
        50% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
        }
    }
    
    @keyframes inM {
        50% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(45deg);
        }
    }
    
    @-webkit-keyframes outM {
        50% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
        }
    }
    
    @keyframes outM {
        50% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(45deg);
        }
    }
    
    @-webkit-keyframes inT {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(9px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(9px) rotate(135deg);
        }
    }
    
    @keyframes inT {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(9px) rotate(0deg);
        }
        100% {
            transform: translateY(9px) rotate(135deg);
        }
    }
    
    @-webkit-keyframes outT {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(9px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(9px) rotate(135deg);
        }
    }
    
    @keyframes outT {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(9px) rotate(0deg);
        }
        100% {
            transform: translateY(9px) rotate(135deg);
        }
    }
    
    @-webkit-keyframes inBtm {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(-9px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-9px) rotate(135deg);
        }
    }
    
    @keyframes inBtm {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(-9px) rotate(0deg);
        }
        100% {
            transform: translateY(-9px) rotate(135deg);
        }
    }
    
    @-webkit-keyframes outBtm {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(-9px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-9px) rotate(135deg);
        }
    }
    
    @keyframes outBtm {
        0% {
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            transform: translateY(-9px) rotate(0deg);
        }
        100% {
            transform: translateY(-9px) rotate(135deg);
        }
    }
    
    .affix {
        padding: 0;
        background-color: var(--rojo);
    }
    /***LOGIN ***/
    
    .login-wrap {
        width: 100%;
        margin: 30px auto;
        max-width: 525px;
        min-height: 670px;
        position: relative;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    }
    
    .login-wrap .group input {
        pointer-events: all;
    }
    
    .login-wrap input[type=text] {
        text-align: left;
        color: var(--negro);
    }
    
    .login-html {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 90px 70px 50px 70px;
        background-color: var(--blanco);
    }
    
    .login-html .sign-in-htm,
    .login-html .sign-up-htm {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: all .4s linear;
    }
    
    .login-html .sign-in,
    .login-html .sign-up,
    .login-form .group .check {
        display: none;
    }
    
    .login-html .tab {
        font-family: 'Goudy';
        text-transform: uppercase;
        color: var(--rojo);
        cursor: pointer;
    }
    
    .login-form .group .label {
        color: var(--rojo);
        font-family: 'Black Letter';
    }
    
    .login-form .group .button {
        font-family: 'Goudy';
        text-transform: uppercase;
        color: var(--rojo);
        cursor: pointer;
    }
    
    .login-html .tab {
        font-size: 2em;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 15px 10px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }
    
    .login-html .sign-in:checked+.tab,
    .login-html .sign-up:checked+.tab {
        color: var(--negro);
        border-color: var(--rojo);
    }
    
    .login-form {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    
    .login-form .group {
        margin-bottom: 15px;
    }
    
    .login-form .group .button {
        width: 100%;
        color: var(--blanco);
        font-size: 1.2em;
        display: block;
    }
    
    .login-form .group .label,
    .login-form .group .input {
        width: 100%;
        color: var(--negro);
        font-size: 1.2em;
        display: block;
    }
    
    .login-form .group .input,
    .login-form .group .button {
        border: none;
        padding: 15px 20px;
        border-radius: 25px;
        background-color: lightgray;
    }
    
    .login-form .group input[data-type="password"] {
        -webkit-text-security: circle;
    }
    
    .login-form .group .label {
        color: var(--negro);
        font-size: 1.5em;
    }
    
    .login-form .group .button {
        background-color: var(--rojo);
    }
    
    .login-form .group label .icon {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        position: relative;
        display: inline-block;
        background-color: var(--rojo);
    }
    
    .login-form .group label .icon:before,
    .login-form .group label .icon:after {
        content: '';
        width: 10px;
        height: 2px;
        background-color: var(--blanco);
        position: absolute;
        transition: all .2s ease-in-out 0s;
    }
    
    .login-form .group label .icon:before {
        left: 3px;
        width: 5px;
        bottom: 6px;
        transform: scale(0) rotate(0);
    }
    
    .login-form .group label .icon:after {
        top: 6px;
        right: 0;
        transform: scale(0) rotate(0);
    }
    
    .login-form .group .check+label {
        color: var(--negro);
        font-family: 'Goudy';
        font-size: 1.2em;
    }
    
    .login-form .group .check:checked+label {
        color: var(--rojo);
        font-family: 'Goudy';
        font-size: 1.2em;
    }
    
    .login-form .group .check:checked+label .icon {
        background-color: var(--rojo);
    }
    
    .login-form .group .check:checked+label .icon:before {
        transform: scale(1) rotate(45deg);
    }
    
    .login-form .group .check:checked+label .icon:after {
        transform: scale(1) rotate(-45deg);
    }
    
    .login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
        transform: rotate(0);
    }
    
    .login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
        transform: rotate(0);
    }
    
    .error,
    .error a {
        font-size: 1.2em;
        font-family: 'Des Malers';
        color: var(--rojo);
        margin-bottom: 5px;
        text-decoration: none;
    }
    /*FOOTER*/
    /***************************** FOOTER *****************************/
    
    .foot {
        width: 100%;
        display: inline-grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-template-columns: 2fr 0fr 2fr;
        background-color: var(--rojo);
        border-bottom: 1px solid var(--blanco);
        bottom: 0;
    }
    
    .footer-columna ul {
        list-style: pent;
        font-family: 'Goudy';
        font-size: 1.2em;
        color: var(--negro);
    }
    
    .footer-columna a {
        color: var(--blanco);
        text-decoration: none;
    }
    
    .footer-columna h2 {
        font-family: 'Des Malers';
        font-size: 1.7em;
        margin-top: 10px;
        color: var(--blanco);
    }
    
    .er {
        background-color: var(--negro);
        width: 100%;
        display: inline-grid;
        align-content: center;
        /* justify-content: center; */
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    
    .er p {
        padding: 5px;
        text-align: right;
        /* margin-right: 200px; */
        font-size: 1.2em;
        font-family: 'Des Malers';
        color: var(--rojo);
    }
    
    .er span {
        color: var(--blanco);
    }
    /* Media qurey section */
    
    @media screen and (min-width: 1066px) and (max-width: 1024px) {
        .container {
            margin: 0;
        }
    }
    
    @media screen and (max-width:1066px) {
        .navTrigger {
            display: block;
        }
        .nav div.logo {
            margin-left: 15px;
        }
        .nav div.main_list {
            width: 100%;
            height: 0;
            overflow: hidden;
        }
        .nav div.show_list {
            height: auto;
            display: none;
        }
        .nav div.main_list ul {
            flex-direction: column;
            width: 100%;
            height: 100vh;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: var(--rojo);
            background-position: center top;
        }
        .nav div.main_list ul li {
            width: 100%;
            text-align: right;
        }
        .nav div.main_list ul li a {
            text-align: center;
            width: 100%;
            font-size: 3rem;
            padding: 20px;
        }
        .nav div.media_button {
            display: block;
        }
    }
    
    @media screen and (max-width:855px) {
        .landing,
        .ficha {
            width: 75%;
        }
    }
    
    @media screen and (max-width:700px) {
        .landing,
        .ficha {
            width: 90%;
        }
    }